<header class="site-header">
    <div class="me">
		<a href="/"><img src="/resources/images/head.png"  width="128" height="128" border="0" /></a>
        <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
        <ul class="social">

        </ul>
        <p class="about">面包屑小道.</p>
    </div>

    <nav class="site-nav">
        <ul>
            <li><i class="fa fa-home"></i> <a href="/">主页</a></li>
            <li><i class="fa fa-suitcase"></i> <a href="/about">简介</a></li>
            <li class="search">
                <form class="search-form">
                    <div class="search-container">
                        <i class="fa fa-search"></i> <span class="search-label">Search</span>
                    </div>
                    <input type="text" class="search-field" placeholder="Search Posts!" name="search" />
                </form>
            </li>
        </ul>
    </nav>

    <div class="search-results"><ol></ol></div>
</header>
<div class="wrapper">
