<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}{% if page.title != 'dpull' %} | {{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/favicon.ico?v=1" />
    <!--fuck gfw! <link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald:300' rel='stylesheet' type='text/css'>-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/main.css">
</head>

<body>
