::selection {
    background: $header;
    color: $header-text;
}

::-moz-selection {
    background: $header;
    color: $header-text;
}

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
.blog-tags {
    width           : 100%;
    background-color: #ffffff;
    padding         : 0 20px 20px;
    box-shadow      : 1px 1px 5px 1px #bbb;
}

.blog-tags h1 {
    font-size  : 30px;
    text-align : center;
    line-height: 1.3;
    color      : #263959;
}

.blog-tags h2 {
    color        : #263959;
    margin       : 10px 0;
    padding      : 0 5px;
    border-radius: 5px;
}

.tag-highlight {
    text-decoration : underline !important;
    color           : white !important;
    background-color: #263959 !important;
}

.tags {
    margin : 0;
    padding: 10px;
}

.tags li {
    display   : inline-block;
    margin    : 5px;
    list-style: none;
}

.tags li a {
    text-decoration   : none;
    color             : #263959;
    display           : inline-block;
    padding           : 5px 10px;
    border            : 1px solid #ecf0f1;
    background-color  : #fafafa;
    -webkit-transition: all .3s;
    -o-transition     : all .3s;
    transition        : all .3s;
    text-transform    : uppercase;
}

.tags li a:hover {
    background-color: #ecf0f1;
}

.tag-list span a {
    text-decoration: none;
}

.tag-list span a:hover {
    text-decoration: underline;
    opacity        : .8;
}

.tag-list span a:link {
    color: #09f;
}

.tag-list span a:visited {
    color: hotpink;
}

.tag-list span a:hover {
    color: rgb(8, 101, 163);
}

.tag-list span a:active {
    color: rgb(91, 182, 243);
}